body{
  min-width: 300px;
  min-height: 480px;
  background-color: #F2F2F2;
  color: black;
  font-family: 'Open Sans';

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#header{
  padding: 5px 0 5px 20px;
  font-size: 15px;
  font-weight: bold;
  background-color: #E2E2E2;
  opacity: 0.4;
}

#display-area{
  border-bottom: 1px solid #DADADA;
  text-align: right;
  border-right: 1px solid #DADADA;
  overflow: hidden;
}

#top{
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 14px;
  color: #797979;
  height: 20px;
}

#bottom{
  height: 15vh;
  font-weight: bold;
}
#bottom h3{
  font-weight: bold;
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
}

#special-buttons{
  background-color: #F2F2F2;
  border-right: 1px solid #DADADA;
}
#special-buttons .col-xs-12{
  padding-left: 0;
  padding-right: 0;
}
#special-buttons .btn-elem{
  background-color: #F2F2F2;
}
#special-buttons .btn-elem:hover{
  background-color: #DADADA;  /* Active: #C2C2C2 */
}
#special-buttons .btn-elem:active{
  background-color: #C2C2C2;
}
#special-buttons .btn-elem span:nth-child(2){
  display: none;
}

#standard-buttons{
  background-color: #E6E6E6;
}
#standard-buttons .col-xs-12{
  padding-left: 0px;
  padding-right: 0px;
}

#standard-buttons .btn-elem{
  background-color: #E6E6E6;
}
#standard-buttons .btn-elem:hover{
  background-color: #CFCFCF;  /* Active: #B8B8B8 */
}
#standard-buttons .btn-elem:active{
  background-color: #B8B8B8;
}

.btn-elem{
  width: 20px;
  height: 20px;
  float: left;
  text-align: center;
  /*padding-top: 5px;*/
}

#standard-buttons .btn-elem:last-child:hover{
  background-color: rgba(50,50,255,0.4) !important;
}
#standard-buttons .btn-elem:last-child:active{
  background-color: rgba(50,50,255,0.6) !important;
}

#history{
  padding-left: 20px;
}
#history ul{
  list-style-type: none;
  text-align: right;
  border-right: dashed 1px #DADADA;
  padding-right: 10px;
}
#history ul li:nth-child(2n){
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}
#history ul li:nth-child(2n+1){
  font-size: 14px;
  color: #797979;
}

@media (min-width: 600px) and (min-height: 600px) {
  .btn-elem{
    font-size: 20px;
  }
  .btn-elem img{
    width: 40px;
  }
}
